schema/principal.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="principal">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="h1" type="xs:string" />
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="p" type="xs:string" />
				</xs:choice>
				<xs:element name="h2" type="xs:string" />
				<xs:choice minOccurs="1" maxOccurs="unbounded">
					<xs:element name="p" type="xs:string" />
				</xs:choice>
				<xs:element name="h2" type="xs:string" />
				<xs:choice minOccurs="1" maxOccurs="unbounded">
					<xs:element name="p" type="xs:string" />
				</xs:choice>
				<xs:element name="h2" type="xs:string" />
				<xs:choice minOccurs="1" maxOccurs="unbounded">
					<xs:element name="p" type="xs:string" />
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>